* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    margin-top: 40px;
}
body {
    font-family: Arial, Helvetica, sans-serif !important;

}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 0.6fr));
    grid-gap: 10px;
    justify-content: center;
}

.contenedor-grid > div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    max-width: 300px;
    flex-wrap: wrap;

}

.contenedor-grid > div > img {
    width: 100% ;
    height: 90%;
    object-fit: cover;
}

.imagen-encontradas:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.texto-encontradas {
    text-align: center;
    font-size: 15px;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

.consejos-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25px;
    margin: 5% 5% 5% 5%;
}

.consejos-item1 {
    font-size: x-large;
    color: blueviolet;
    background-color: lightgoldenrodyellow;
    padding: 10px 10px 10px 10px;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #EF3B36;
    /* fallback for old browsers */
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.671), hsla(2, 85%, 57%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.671), hsla(2, 85%, 57%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Sobre Nosotros */
main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;

}

.imagen-nosotros {
    width: 48%;
    height: 100%;

}

.contenido-textos {
    margin-left: 30px;
}

.nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria de Sponsors */

.galeria-sponsors {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-sponsors {
    width: 24%;
    margin-bottom: 10px;
    height: 180px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-sponsors>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-sponsors {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla (273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-sponsors img {
    width: 100px;
}

.hover-sponsors p {
    background-color: #4d0686;
    color: #fff;

}

.imagen-sponsors:hover .hover-sponsors {
    transform: scaleX(1);
}

/* Que Dicen*/
.cards {
    display: flex;
    justify-content: space-evenly;

}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 70%;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/* Footer */
footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width: 900px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
        margin-left: 0;
    }

    .imagen-nosotros {
        width: 90%;
        height: 90%;
    }

    /* Galeria */
    .imagen-sponsors {
        width: 45%;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    .cards .card:first-child {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
              
        text-align: right;
    }

    nav>a {
        margin-right: 5px;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    /*Sobre Nosotros*/
    .imagen-nosotros {
        margin-bottom: 30px;
        width: 95%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    /* Galeria Sponsors */
    .imagen-sponsors {
        width: 95%;
    }

    /* Que dicen */
    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding: 0;*/
        /*font-size: 10;*/
    }

    .cards .card img {
        width: 90%;
        height: 120px;
        width: 120px;
    }

    /* Footer */
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4 {
        border: none;
    }

    .content-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }
}

iframe {
    margin-left: 20%;
}