<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MP Mascotas Perdidas</title>
  <link rel="stylesheet" href="css/estilos.css">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/2ac95bdd5f.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav>
        <a href="index.html">Inicio</a>
        <a href="encontradas.html">Ver Mascotas</a>
        <!-- <a href="perdidas.html">Perdidas</a> -->
        <a href="perdi_mi_mascota.html">Reportar Mascota</a>
        <a href="consejos.html">Consejos</a>
        <a href="FAQ.html">FAQs</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <section class="textos-header">
        <h1>Perdiste tu mascota?</h1>
        <h2>Te ayudamos a encontrarla</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</header>
  <main>
    <section id="app" class="mascotas-encontradas">
      <h2 class="titulo">Mascotas Encontradas</h2>
      <div class="contenedor-grid">
        <template v-for="producto in productos">
          <template v-if="producto.estado=='Encontrada'">
            <div class="imagen-encontradas">
              <img :src="producto.imagen" :alt="">
              <p>{{producto.barrio}} {{producto.fecha}}</p>
            </div>
          </template>          
        </template>
      </div>

      <h2 class="titulo">Mascotas Perdidas</h2>
      <div class="contenedor-grid">
        <template v-for="producto in productos">
          <template v-if="producto.estado=='Perdida'">
            <div class="imagen-encontradas">
              <img :src="producto.imagen" :alt="">
              <p>{{producto.barrio}} {{producto.fecha}}</p>
            </div>
          </template>          
        </template>
      </div>
    </section>
  </main>
  <footer>
    <div class="contenedor-footer">
      <div class="content-foo">
        <h4>Telefono</h4>
        <i class="fa fa-duotone fa-phone"></i>
        <p>1234567890</p>
      </div>
      <div class="content-foo">
        <h4>email</h4>
        <i class="fa-regular fa-envelope"></i>
        <p>mascotas.perdidas@gmail.com</p>
      </div>
      <div class="content-foo">
        <h4>Direccion</h4>
        <i class="fa-sharp fa-solid fa-location-dot"></i>
        <p>Av.Las Mascotas 2222 - CABA</p>
      </div>
    </div>
    <h2 class="titulo-final">&copy; Grupo 12 CaC 2023</h2>
  </footer>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/encontradas.js"> </script>
</html>